<style></style>
<board lang="de">
	<img class="spirit-image" src="" scale="100">
	<spirit-name>DÜSTERER BOGEN DES LICHTS</spirit-name>
	<lore-description>
		Für Ramo von Meike und Moritz
		Alles Gute zum Geburtstag und viel Spaß mit deinem eigenen Geist!<br>
		Dieser Geist verkörpert die Essenz von Licht und Farbe, die nach einem Regen über der Insel erscheinen. Er ist ein Symbol für Hoffnung und Frieden, aber auch für die flüchtige Schönheit der Natur.<br>
		Der Geist beeinflusst die Wahrnehmung und Stimmung der Invasoren und verbreitet Furcht durch unheimliche Lichteffekte. Die Dahan bewundern das Spiel der Farben und fühlen sich unter dem Schutz der Bögen sicher.
	</lore-description>
            
	<second-section-container>
		<setup>
			<setup-title>SETUP:</setup-title>
			<setup-description>
				<br>Setze je 1 {presence} auf die {sand} mit der niedrigsten und den {wetland} mit der höchsten Zahl auf deinem Startspielplan.<br>Lege die Elemente-Marker bereit.
			</setup-description>
		</setup>
		<play-style>
			<play-style-title>Play Style:</play-style-title>
			<play-style-description>
			TBD
			</play-style-description>
		</play-style>
	</second-section-container>
	
	<third-section-container>
		<note>I am a demo note</note>
		<complexity 
			value="5" 
			descriptor="Moderate"
		></complexity>
		<summary-of-powers 
			values="1,1,10,2,2" 
			uses="dahan"
		></summary-of-powers>
	</third-section-container>
</board>